html {
    height: 100%;
    padding: 0;
    width: 100%;
    margin: 0px auto;

}
body {
    margin: 0px auto;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y:hidden;
}
canvas {
    margin: 0px auto;
    padding: 0;
}
